<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
        <h1>Sign in with Twitter Sample</h1>
        <p>Try to access the awesome features. Then Sign in. Then try to access it again.</p>

        <a href="/login">Login with Twitter</a>

      </br>

        <h3> Compose New Tweet to be Post Later </h3><br>
       <form method="post" action="/tweet_later" id="post_tweet_later">
        <table border="0"><tr><td><textarea name="tweet_msg1" rows="4" cols="60" autocorrect="on" autocapitalize="off"></textarea></td></tr><td>Delay Time:&nbsp;<input type="number" min="0" step="1" name="time" size="3"></td><br></table><br>
        <input class="mybutton1" type="submit" value="Submit">
        <br>
      </form>


</div> <!-- /container -->