<div class="container">
  <div id="status"></div>
  <%= @complete %>
    <div id="wait-msg">
      <br>
      <img src="/gifs/ajax-loader.gif"> Updating</img>
    </div>
    <div id="show_tweet">
    </div>
</div>